.Box {
    display: flex;
    width: 6rem;
    height: 6rem;
    margin: 0.4rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 7px rgb(88, 87, 87);    
    text-transform: uppercase;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px darkblue;
    align-items: center;    
    justify-content: center;





}

