.App {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    width: 100vw;
    text-align: center;
    padding: 1rem;
}