.Box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 0.5rem;
    text-align: center;
}

.Box-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    border: 0;
    height: 24px;
    width: 24px;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 50%;
    margin: 0;
    color: #000;
    background-color: rgb(255, 255, 255);
}

.Box-btn:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition: all 0.3s ease-in-out;
}

.Box-text {
    margin: 0 5px;
}

.Box-text:nth-child(2) {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0;
    word-wrap: break-word;
}

.Box-text:nth-child(3) {
    font-size: 0.7rem;
    font-style: normal;
    padding: 3px 0;
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
}