.Hangman {
  align-content: center;
  width: 90vw;
  color: black;
  text-align: center;
}

.Hangman img {
  text-align: center;
  border: 5px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
    zoom: 1.1;
}

.Hangman-h1 {
  font-size: 3rem;
  font-weight: 900;
  color: #ff0000;
  margin-bottom: 0.7rem;
  
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
  zoom: 1.3;
}
.Hangman-answer {
  letter-spacing: 0.5em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
  zoom: 1.3;
}

.Hangman-btns, .Hangman-reset {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
  zoom: 1.3;
}

.Hangman .Hangman-btns {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #ffc107;
  color: #fff;
  box-shadow: 0 6px #ff9800;
  border-radius: 5px;
  padding-top: 4px;
}

.Hangman .Hangman-reset {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #ffc107;
  color: #fff;
  box-shadow: 0 6px #ff9800;
  border-radius: 5px;
  padding-top: 4px;
}

.Hangman button:hover {
  background-color: #fda725;
}

.Hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}

.Hangman-wrongGuesses{
    padding-left: 5px;
}
.Hangman-wrongGuesses, .Hangman-gameover{
  zoom: 1.2;
  color: red;
  font-weight: bolder;

}