    .Hangman {
        padding: 0;
        margin: 0;
    }
    
    .Hangman-h1 {
        color: #ff0606;
        font-weight: bolder;
        margin: 0;
        padding: 0;
        text-shadow: 3px 2px rgba(94, 92, 92, 0.404);
    }
    
    .Hangman-winner {
        margin: auto;
        color: rgb(31, 225, 43);
        text-shadow: 3px 2px rgb(215, 247, 189);
    }
    
    .Hangman-word {
        letter-spacing: 0.9em;
        padding: 0;
        margin: 0.4em -1em 0.2em 0;
        font-size: 2rem;
    }
    
    .Hangman-answer {
        letter-spacing: 1em;
        margin: 0.4em -1em 0.2em 0;
        font-size: 2rem;
    }
    
    .Hangman-wrongGuesses,
    .Hangman-gameover {
        color: rgb(245, 138, 16);
        font-weight: bolder;
    }
    
    .Hangman-flexContainer {
        display: flex;
        margin: 0 auto;
        flex-flow: row wrap;
        height: 95vh;
        width: 95vw;
        justify-content: center;
        align-items: center;
    }
    
    .Hangman-row {
        flex: 0 0 100%;
        /* Let it fill the entire space horizontally */
        text-align: center;
        padding: 1rem 0px;
        height: auto;
    }
    
    .Hangman-col2 {
        display: flex;
        flex: 0 0 40%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .Hangman-col3 {
        flex: 0 0 40%;
        /* ~ 2 * 33.33% */
        text-align: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .Hangman img {
        text-align: center;
        height: auto;
        width: 300px;
        border: 2px solid white;
    }
    
    .Hangman-reset {
        text-align: center;
        display: inline-block;
        width: 8rem;
        height: 2.5rem;
        margin: 10px;
        border: none;
        font-family: inherit;
        font-size: 2rem;
        cursor: pointer;
        letter-spacing: 1px;
        outline: none;
        background: #ffc107;
        color: #fff;
        box-shadow: 0 6px #ff9800;
        border-radius: 5px;
    }
    
    @media (max-width: 600px) {
        .Hangman-col2,
        .Hangman-col3 {
            flex: 0 0 80%;
            /* ~ 2 * 33.33% */
            text-align: center;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }